.slider-bg {
    background: url('../../assets/images/bg1.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.overlay {
   /* background: rgba(229, 154, 74, 0.5); */
    width: 100%;
    padding-bottom: 10px;
}
.headImg{
margin-top: 15px;
    
}
.headTitle{
    color: darkgreen;

}
.info{
    font-size: 13px;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 2.3rem;
    margin: 15px 0;
    display: inline-block;
}

.svg-view {
    display: inline-block;
    height: calc(100% - 100px);
    width: 70%;
    background: rgba(255,255,255,0.7);
    vertical-align: top;
    border-radius: 4px;
}

.card-view {
    display: inline-block;
    height: 350px;
    width: 300px;
    margin-left: 10px;
    position: relative;
    vertical-align: top;
}
.card-view img {
    width: 70%;
    display: block;
    margin: 10px auto;
}

.locate {
    float: right;
    margin: 19px 0;
    color: #fff;
}

.locate input {
    padding: 5px;
    width: 120px;
    text-align: left;
    margin-left: 5px;
}
.locate i {
    float: right;
    background: url('../../assets/images/locate.png');
    width: 36px;
    height: 36px;
    cursor: pointer;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    margin-left: 10px;
}

.svg-view {
    height: 350px;
    width: calc(100% - 320px);
}

.card-view {
    height: 350px;
    width: 300px;
}

@media (max-width: 680px) {  
    .svg-view {
        height: 330px;
        width: calc(50% - 10px);
    }  
    .card-view {
        width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {  
    .svg-view {
        height: 350px;
        width: 100%;
        margin-bottom: 10px;
    }  
    .card-view {
        width: 100%;
        margin-left: 0;
    }
    .overlay {
        padding-bottom: 130px;
    }
    a {
        font-size: 1.5rem;
        display: block;
        margin: 0;
        padding: 15px 0 0;
        text-align: center;
    }
    .locate {
        float: left;
        width: 100%;
    }
    button {
        float: right;
    }
    .locate span {
        line-height: 35px;
        display: inline-block;
    }
}

@media (max-width: 320px) {
    .overlay {
        padding-bottom: 50px;
    }
}